.jsdtscope
/singleDS/.classpath
/singleDS/.gitignore
/singleDS/.project
/singleDS/.settings/org.eclipse.core.resources.prefs
/singleDS/.settings/org.eclipse.jdt.core.prefs
/singleDS/.settings/org.eclipse.m2e.core.prefs
/singleDS/.settings/org.eclipse.wst.common.component
/singleDS/.settings/org.eclipse.wst.common.project.facet.core.xml
/singleDS/.settings/org.eclipse.wst.jsdt.ui.superType.container
/singleDS/.settings/org.eclipse.wst.jsdt.ui.superType.name
/singleDS/.settings/org.eclipse.wst.validation.prefs
/multiDS/*.classpath
/multiDS/*.gitignore
/multiDS/*.project
/multiDS/.settings/*.prefs
/multiDS/.settings/*.component
/multiDS/.settings/*.xml
/multiDS/.settings/*.container
/multiDS/.settings/*.name
/multi-mod/.idea/*.xml
.idea
target
/singleDS/.settings
